@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSans";
  src: url("../public/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("../public/fonts/GeneralSans-Variable.woff") format("woff"),
    url("../public/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .wrapper {
    @apply max-w-[1500px] mx-auto;
  }

  .sidebar-h {
    height: calc(100vh - 79.5px);
  }
}
